<nav>
  <ul>
    <li><a href="/">HOME</a></li>
    <li><a href="/data">DATA</a></li>
    <li><a href="/data/search/isbn">SEARCH BY ISBN</a></li>
    <li><a href="/data/search/title">SEARCH BY BOOK TITLE</a></li>
    <li><a href="/allData">ALL BOOKS</a></li>
    <li><a href="/noAuthorBooks">BOOKS WITH NO AUTHOR</a></li>
  </ul>
</nav>