<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1>Rahul Tiwari</h1>
      <h2>N01416281</h2>
    </header>
    {{> navigation }}
    <main>
      {{{body}}}
    </main>
    <footer>
      <p>  &copy; 2022 Copyright: <a href="mailto:rahulbt2016@gmail.com">rahulbt2016@gmail.com</a></p>
    </footer>
  </body>
</html>
